@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<input type="datetime-local" @bind="local" /><br />
<input type="month" @bind="month" /><br />
<input type="time" @bind="timeStep" step="1" /><br />
<input type="time" @bind="time" /><br />

Local: @local<br />
Month: @month<br />
Time with step: @timeStep<br />
Time without step: @time<br />


@code{
    DateTime local = DateTime.Now;
    DateTime month = DateTime.Now;
    DateTime timeStep = DateTime.Now;
    DateTime time = DateTime.Now;
}
